* {margin:0;
  padding:0; 
}       

}

#reg {
      text-align: right;
}

#header { margin:auto;
          width:500px; 
}

ul, ol {list-style: none;
        
}

.nav li a{
    background-color: black;
    color:white;
    text-decoration:none;
    padding:10px 15px;
    display:block;
}
.nav li a:hover {
    background-color:gray;
     }

.nav > li {
    float:left;
}
.nav li ul {display:none;
            position:absolute;
            min-width: 140px;}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    rigth:-140px;
    top:0px;
}


#cont { margin:auto;
        width:;
          
}

.cont {text-align: left;
}

h2 {text-align:center;
    color:brown;
    margin:50px 
    } 

   